nav {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 30%;
    height: 100%;
    background-color: rgb(147, 223, 248);
}

header {
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    top 0%;
    height: 13%;
    width: 100%;
    background-color: lightblue;
    overflow: hidden;
}

header h1 {
    position: absolute;
    width: 50%;
    margin-left: 5px;
    font-size: 1.5em;
}

header button {
    position: absolute;
    right: 0;
    top: 60%;
    margin-right: 5px;
    background-color: floralwhite;
    border-radius: 8%;
    border: 2px outset beige;
}

header button:hover {
    cursor: pointer;
    border: 2px outset rgb(147, 223, 248);
}

header button:active {
    border: 2px inset beige;
    top: 61%;
}


.open-chats {
    position: relative;
    height: 77%;
    background-color: rgb(147, 223, 248);    
    overflow: auto;
}

.rooms {
    position: relative;
    margin: 5px;
    padding: 5px;
    border: 2px ridge #cbf59a;
    border-radius: 10%;
}

.room:hover {
    cursor: pointer;
}

.delete-room {
    position: absolute;
    right: 3%;
    top: 10%;
    font-size: .9rem; 
}

.delete-room:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.38);
    padding: 1px;
    border-radius: 30%;
}

.delete-room:active {
    top: 12%;
}

footer {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background-color: rgb(147, 223, 248);
    border-top: 5px solid lightblue;
}

footer h3 {
    padding-left: 5px;
    font-size: .8em;
}

.room-content {
    position: absolute;
    width: 68%;
    height: 98%;
    top: 1%;
    left: 31%;
    border: 2px solid #f0e1c2; 
    border-radius: 5%;
    overflow: hidden;
}

.room-content .room-name {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 11%;
    background-color: #f0e1c2;
}

.room-name h2 {
    padding-left: 5%;
}

.room-content .custom-border-style {
    position: absolute;
    top: 11%;
    width: 100%;
    padding: 2px;
    margin-top: 4px;
    background-color: #f0e1c2;
}

.room-content .message-window {
    position: absolute;
    top: 12%;
    width: 100%;
    height: 83%;
}

.room-content .footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 5%;
    background-color: #f0e1c2;
}