header {
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    top 0%;
    width: 100%;
    background-color: lightblue;
}

header h1 {
    position: relative;
    margin-left: 5px;
    font-size: 1.5em;
}

header button {
    position: relative;
    margin-left: 5px;
    background-color: floralwhite;
    border-radius: 8%;
    border: 2px outset beige;
}

header button:hover {
    cursor: pointer;
    border: 2px outset rgb(147, 223, 248);
}

header button:active {
    border: 2px inset beige;
    top: 1px;
}

nav {
    position: absolute;
    left: 0%;
    width: 30%;
    height: 100%;
    background-color: rgb(147, 223, 248);
}

.rooms {
    position: relative;
    margin: 5px;
}

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    border-top: 5px solid lightblue;
}

footer h3 {
    padding-left: 5px;
    font-size: .8em;
}