header {
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    top 0%;
    height: 12%;
    width: 100%;
    background-color: lightblue;
    overflow: hidden;
}

header h1 {
    position: absolute;
    width: 50%;
    margin-left: 5px;
    font-size: 1.5em;
}

header button {
    position: absolute;
    right: 0;
    top: 60%;
    margin-right: 5px;
    background-color: floralwhite;
    border-radius: 8%;
    border: 2px outset beige;
}

header button:hover {
    cursor: pointer;
    border: 2px outset rgb(147, 223, 248);
}

header button:active {
    border: 2px inset beige;
    top: 61%;
}

nav {
    position: absolute;
    left: 0%;
    width: 30%;
    height: 100%;
    background-color: rgb(147, 223, 248);
}

.openChats {
    position: relative;
    height: 78%;
    background-color: rgb(147, 223, 248);    
    overflow: auto;
}

.rooms {
    position: relative;
    margin: 5px;
}

footer {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background-color: rgb(147, 223, 248);
    border-top: 5px solid lightblue;
}

footer h3 {
    padding-left: 5px;
    font-size: .8em;
}