<div class="modalBody">
    <div class="modalSidebar"></div>
    <div class="modalMain">
        <div class="modalHeader">
            <h1>Set Username</h1>    
        </div> 
        <div class="modalForm">
            <form>
            <input type="text" id="newUserInput" ng-model="newUsername" placeholder="Type Username here..."><br>
            <input type="submit" value="Create Username" ng-click="modal.setUser(newUsername)" ng-disabled="modal.checkUser(newUsername)">
            </form> 
        </div>
    </div>
</div>