<main>
    <nav>
        <header>
            <h1>Bloc Chat</h1>
            <button ng-click="home.roomModal()">New Room</button>
        </header> 
        <section class="openChats">
            <div class="rooms" ng-repeat="room in home.rooms">
                <div class="room">
                    {{ room.name }}
                    <div class="deleteRoom" ng-click="home.deleteModal(room)">Delete</div>
                </div>
            </div>
        </section>
        <section class=room>

        </section>
        <footer>
            <h3>Test</h3>
        </footer>
    </nav>
</main>
